<!DOCTYPE html>
<html>
	<head>
		<title>Papyrus</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

	</head>

	<body>
		<div id="wrap">
			<div class="container-fluid">
				<div id="main" class="row-fluid">
				</div>
			</div>
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>
		<script>
			$(function(){

				var $previewDiv = $("#main")
				var converter = new showdown.Converter()
				$previewDiv.html(converter.makeHtml({{.Document.Content}}))

			})
		</script>
	</body>
</html>
