{{define "styles"}}{{end}}
{{define "main"}}
	<br>
	<div class="col-md-offset-5 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h4>Login</h4>
			</div>
			<div class="panel-body text-center">
				<a class="btn btn-block btn-default" href="/login/gplus"><span class="fa fa-google"> Google</span></a>
				<a class="btn btn-block btn-default" href="/login/github"><span class="fa fa-github"> GitHub</span></a>
			</div>
		</div>
	</div>
{{end}}
{{define "scripts"}}{{end}}
